:root {
  /* lion.blue from tailwind as r g b */
  --color-primary-50: 241 241 255; /* #f1f1ff */
  --color-primary-100: 230 234 243; /* #cdd6e8 */
  --color-primary-200: 205 214 232; /* #b3c0dc */
  --color-primary-300: 179 192 220; /* #9aacd0 */
  --color-primary-400: 154 172 208; /* #8096c4 */
  --color-primary-500: 128 150 196; /* #6681b8 */
  --color-primary-600: 102 129 184; /* #4d6cad */
  --color-primary-700: 77 108 173; /* #3357a1 */
  --color-primary-800: 51 87 161; /* #1a4295 */
  --color-primary-900: 26 66 149; /* #1a4295 */
  --color-primary-950: 0 45 137; /* #002d89 */

  /* slate from tailwind as r g b */
  --color-muted-50: 248 250 252; /* #f8fafc */
  --color-muted-100: 241 245 249; /* #f1f5f9 */
  --color-muted-200: 226 232 240; /* #e2e8f0 */
  --color-muted-300: 203 213 225; /* #cbd5e1 */
  --color-muted-400: 148 163 184; /* #94a3b8 */
  --color-muted-500: 100 116 139; /* #64748b */
  --color-muted-600: 71 85 105; /* #475569 */
  --color-muted-700: 51 65 85; /* #334155 */
  --color-muted-800: 30 41 59; /* #1e293b */
  --color-muted-900: 15 23 42; /* #0f172a */
  --color-muted-950: 2 6 23; /* #020617 */
}
